<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content={{SITENAME}}>
  <meta name="author" content="{{AUTHOR}}">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/bootstrap.min.css" />

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500,700'>

  <!-- JQuery -->
  <script src="{{SITEURL}}/theme/js/jquery-3.2.0.min.js"></script>

  {% block extra_css %}{% endblock %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}

  {% endblock head %}
</head>

<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{SITEURL}}">{{AUTHOR}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="social-links nav navbar-nav navbar-right">
          {% for tuple in SOCIAL %}
            {% if tuple[0] == 'linkedin' %}
              <li><a href="{{tuple[1]}}"><i class="fa fa-linkedin"></i></a></li>
            {% elif tuple[0] == 'twitter' %}
              <li><a href="{{tuple[1]}}"><i class="fa fa-twitter"></i></a></li>
            {% elif tuple[0] == 'github' %}
              <li><a href="{{tuple[1]}}"><i class="fa fa-github"></i></a></li>
            {%endif %}
          {% endfor %}
        </ul>
        <div class="search-button navbar-right">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <ul class="menu-links nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{SITEURL}}/about.html">About Greg</a></li>
              {% for tuple in SOCIAL %}
                {% if tuple[0] == 'linkedin' %}
                  <li><a href="{{tuple[1]}}">LinkedIn</a></li>
                {% elif tuple[0] == 'twitter' %}
                  <li><a href="{{tuple[1]}}">Twitter</a></li>
                {% elif tuple[0] == 'github' %}
                  <li><a href="{{tuple[1]}}">Github</a></li>
                {% elif tuple[0] == 'kaggle' %}
                  <li><a href="{{tuple[1]}}">Kaggle</a></li>
                {% elif tuple[0] == 'udacity' %}
                  <li><a href="{{tuple[1]}}">Udacity</a></li>
                {%endif %}
              {% endfor %}
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Project 1</a></li>
              <li><a href="#">Project 2</a></li>
              <li><a href="#">Project 3</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
            <ul class="dropdown-menu">
              {% for category in categories|sort %}
                <li><a href="{{SITEURL}}/category/{{category[0].slug}}.html">{{category[0]}}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <div class="search-wrapper">
          <div class="row search-bar">
            <div class="search-close">
              <i class="glyphicon glyphicon-remove"></i>
            </div>
            <form role="search" method="get" action="">
              <input class="search-input" type="search" placeholder="e.g. sklearn KNN, pandas merge" value="" name="s" autocomplete="off">
            </form>
          </div>
        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="main-content container">
    {% block content %}{% endblock %}

    {% include 'footer.html' %}
  </div>

  <!-- Bootstrap core JS -->
  <script src="{{SITEURL}}/theme/js/bootstrap.min.js"></script>

  <!-- d3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>

  <!-- Custom scripts -->
  <script src="{{SITEURL}}/theme/js/app.js"></script>

  {% block extra_js %}{% endblock %}
</body>
</html>
