<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content={{SITENAME}}>
  <meta name="author" content="{{AUTHOR}}">

  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{SITEURL}}/theme/css/bootstrap.min.css" />

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=PT+Serif:400,700|Roboto:400,500,700'>

  <!-- JQuery -->
  <script src="{{SITEURL}}/theme/js/jquery-3.2.0.min.js"></script>

  {% block extra_css %}{% endblock %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
  {% endif %}
  {% if FEED_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
  {% if CATEGORY_FEED_ATOM and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
  {% endif %}
  {% if CATEGORY_FEED_RSS and category %}
  <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
  {% endif %}
  {% if TAG_FEED_ATOM and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
  {% endif %}
  {% if TAG_FEED_RSS and tag %}
  <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
  {% endif %}

  {% endblock head %}
</head>

<body>
  <div class="main-content container">
    {% block content %}{% endblock %}
  </div>

  <!-- Bootstrap core JS -->
  <script src="{{SITEURL}}/theme/js/bootstrap.min.js"></script>

  <!-- d3.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>

  <!-- Custom scripts -->
  <script src="{{SITEURL}}/theme/js/app.js"></script>

  {% block extra_js %}{% endblock %}
</body>
</html>
