{% extends "base.html" %}

{% block extra_js %}
<!-- particle.js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<!-- Typed.js -->
<script src="{{SITEURL}}/theme/js/typed.min.js"></script>

<!-- mixItUp.js -->
<script src="{{SITEURL}}/theme/js/mixitup.min.js"></script>

<!-- home.js -->
<script src="{{SITEURL}}/theme/js/home.js"></script>
{% endblock extra_js %}

{% block content %}
<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div id="particles-js"></div>
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row">
          <div class="head-text">
            <h1 class="tagline">
              Hi, I'm
              <span id="typed"></span>
            </h1>
            <h3 class="sub-tagline">Data Scientist / Machine Learning Engineer</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nextSection">
    <a href="#about" class="smooth-scroll">
      <span class='icon-scroll'><span/>
    </a>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Nice to meet you</h2>
        </div>
      </div>
    </div>
    <div class="row welcome">
      <div class="col-sm-12">
        <div class="welcome-text">
          <blockquote cite="https://hbr.org/2012/10/data-scientist-the-sexiest-job-of-the-21st-century">I make discoveries while swimming in data.</blockquote>
          <p>Data Scientist and Machine Learning enthusiast. Enrolled in ML and Self-Driving Car NanoDegrees <a href="https://www.udacity.com/">@Udacity</a>. Thrilled about deep learning and self-driving cars.</p>
          <p>Take a look at my <a href="#work" class="highlight smooth-scroll">work</a>, <a href="#blog" class="highlight smooth-scroll">read my blog</a>, or <a href="#contact" class="highlight smooth-scroll">get in touch</a>!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Work Section -->
<section id="work" class="work-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Selected Work</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="work">
        <li class="filter" data-filter="all">all</li>
        <li class="filter" data-filter=".supervised-learning">Supervised Learning</li>
        <li class="filter" data-filter=".unsupervised-learning">Unsupervised Learning</li>
        <li class="filter" data-filter=".reinforcement-learning">Reinforcement Learning</li>
      </ul>
    </div>
    <div class="work-inner">
      <div class="row work-posts grid">
        <div class="col-md-4 col-sm-6 mix supervised-learning" style="display: inline-block;">
          <a href="#">
            <figure>
              <img src="theme/img/project-1.jpg" alt="">
              <figcaption>
                <h2>Finding Donors</h2>
                <p>Supervised Learning</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix unsupervised-learning" style="display: inline-block;">
          <a href="#">
            <figure>
              <img src="theme/img/project-2.jpg" alt="">
              <figcaption>
                <h2>Finding Donors</h2>
                <p>Supervised Learning</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix reinforcement-learning" style="display: inline-block;">
          <a href="#">
            <figure>
              <img src="theme/img/project-3.jpg" alt="">
              <figcaption>
                <h2>Finding Donors</h2>
                <p>Supervised Learning</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix supervised-learning" style="display: inline-block;">
          <a href="#">
            <figure>
              <img src="theme/img/project-4.jpg" alt="">
              <figcaption>
                <h2>Finding Donors</h2>
                <p>Supervised Learning</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix unsupervised-learning" style="display: inline-block;">
          <a href="#">
            <figure>
              <img src="theme/img/project-5.jpg" alt="">
              <figcaption>
                <h2>Finding Donors</h2>
                <p>Supervised Learning</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix unsupervised-learning" style="display: inline-block;">
          <a href="#">
            <figure>
              <img src="theme/img/project-6.jpg" alt="">
              <figcaption>
                <h2>Finding Donors</h2>
                <p>Supervised Learning</p>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog Section -->
<section id="blog" class="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Blog<h2>
        </div>
      </div>
    </div>
    <div class="categories">
      {% for category in categories %}
        <a href="{{SITEURL}}/category/{{category[0].slug}}.html" class="category-link">{{category[0]}}</a>
      {% endfor %}
    </div>
    <a href="{{SITEURL}}/blog" type="button" class="btn btn-lg">See All Articles</a>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Let's Talk!</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <form action="https://formspree.io/gregory@gdangelo.fr" method="POST">
        <input class="field grey" type="text" name="name" placeholder="Your Name" maxlength="256" required>
        <input class="field" type="email" name="_replyto" placeholder="Your Email" maxlength="256" required>
        <input  class="field grey" type="text" name="_subject" placeholder="Is there anything in particular you want to talk about?" maxlength="256" required>
        <textarea class="field" name="message" maxlength="5000" placeholder="Your kind words."></textarea>
        <input class="button" type="submit" value="Send">
      </form>
    </div>
  </div>
</section>
{% endblock content %}
