{% extends "base.html" %}

{% block extra_js %}
<!-- particle.js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

<!-- Typed.js -->
<script src="{{SITEURL}}/theme/js/typed.min.js"></script>

<!-- mixItUp.js -->
<script src="{{SITEURL}}/theme/js/mixitup.min.js"></script>

<!-- home.js -->
<script src="{{SITEURL}}/theme/js/home.js"></script>
{% endblock extra_js %}

{% block content %}
<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div id="particles-js"></div>
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row">
          <div class="head-text">
            <h1 class="tagline">
              Hi, I'm
              <span id="typed"></span>
            </h1>
            <h3 class="sub-tagline">Self-Driving Cars Engineer</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nextSection">
    <a href="#about" class="smooth-scroll">
      <span class='icon-scroll'><span/>
    </a>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Nice to meet you</h2>
        </div>
      </div>
    </div>
    <div class="row welcome">
      <div class="col-sm-12">
        <div class="welcome-text">
          <p>
            I am a Computer Engineer with a Passion for Deep Learning and Self-Driving Cars. I am currently enrolled in the Machine Learning and Self-Driving Cars Nanodegree programs at Udacity.<br/><br/>
            Take a look at my <a href="#work" class="highlight smooth-scroll">work</a>, <a href="#blog" class="highlight smooth-scroll">read my blog</a>, or <a href="#contact" class="highlight smooth-scroll">get in touch</a>!
          </p>
          <a href="{{SITEURL}}/about" type="button" class="btn btn-lg btn-white-rounded">Want to know more?</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Work Section -->
<section id="work" class="work-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Selected Work</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <ul class="work">
        <li class="filter" data-mixitup-control data-filter="all">all</li>
        <li class="filter" data-mixitup-control data-filter=".computer-vision">Computer Vision</li>
        <li class="filter" data-mixitup-control data-filter=".deep-learning">Deep Learning</li>
        <li class="filter" data-mixitup-control data-filter=".object-tracking">Object Tracking</li>
        <li class="filter" data-mixitup-control data-filter=".sensor-fusion">Sensor Fusion</li>
        <li class="filter" data-mixitup-control data-filter=".localization">Localization</li>
        <li class="filter" data-mixitup-control data-filter=".control">Control</li>
      </ul>
    </div>
    <div class="work-inner">
      <div class="row work-posts grid">
        <div class="col-md-4 col-sm-6 mix control" style="display: inline-block;">
          <a href="https://github.com/gdangelo/CarND-PID-Control-Project">
            <figure>
              <img src="theme/img/project-1.jpg" alt="Autonomous driving with PID controller">
              <figcaption>
                <h2>Autonomous driving</h2>
                <p>with PID controller</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix object-tracking sensor-fusion" style="display: inline-block;">
          <a href="https://github.com/gdangelo/CarND-Unscented-Kalman-Filter-Project">
            <figure>
              <img src="theme/img/project-2.jpg" alt="Object Tracking with Sensor Fusion-based Unscented Kalman Filter">
              <figcaption>
                <h2>Object Tracking</h2>
                <p>with Sensor Fusion-based Unscented Kalman Filter</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix object-tracking computer-vision deep-learning" style="display: inline-block;">
          <a href="https://github.com/gdangelo/CarND-Vehicle-Detection">
            <figure>
              <img src="theme/img/project-3.jpg" alt="Vehicle Detection and Tracking with Computer Vision and Deep Learning">
              <figcaption>
                <h2>Vehicle Detection and Tracking</h2>
                <p>with Computer Vision and Deep Learning</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix localization" style="display: inline-block;">
          <a href="https://github.com/gdangelo/CarND-Kidnapped-Vehicle-Project">
            <figure>
              <img src="theme/img/project-4.jpg" alt="Vehicle Localization with a Particle Filter">
              <figcaption>
                <h2>Vehicle Localization</h2>
                <p>with a Particle Filter</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix computer-vision" style="display: inline-block;">
          <a href="https://github.com/gdangelo/CarND-Advanced-Lane-Lines">
            <figure>
              <img src="theme/img/project-5.jpg" alt="Advanced Lane Finding with Computer Vision">
              <figcaption>
                <h2>Advanced Lane Finding</h2>
                <p>with Computer Vision</p>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-4 col-sm-6 mix deep-learning" style="display: inline-block;">
          <a href="https://github.com/gdangelo/CarND-Behavioral-Cloning-P3">
            <figure>
              <img src="theme/img/project-6.jpg" alt="Driving Behavior Cloning with Convolutional NN">
              <figcaption>
                <h2>Driving Behavior Cloning</h2>
                <p>with Convolutional NN</p>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog Section -->
<section id="blog" class="blog-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Blog<h2>
        </div>
      </div>
    </div>
    <div class="categories">
      {% for category in categories %}
        <a href="{{SITEURL}}/category/{{category[0].slug}}.html" class="category-link">{{category[0]}}</a>
      {% endfor %}
      <h2>...</h2>
    </div>
    <a href="#" type="button" class="btn btn-lg btn-white-rounded">Coming Soon</a>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title">
          <h2>Let's Talk!</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <form action="https://formspree.io/gregory@gdangelo.fr" method="POST">
        <input class="field grey" type="text" name="name" placeholder="Your Name" maxlength="256" required>
        <input class="field" type="email" name="_replyto" placeholder="Your Email" maxlength="256" required>
        <input  class="field grey" type="text" name="_subject" placeholder="Is there anything in particular you want to talk about?" maxlength="256" required>
        <textarea class="field" name="message" maxlength="5000" placeholder="Your kind words."></textarea>
        <input class="button" type="submit" value="Send">
      </form>
    </div>
  </div>
</section>
{% endblock content %}
